In [1]:
import pandas as pd

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\prart\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df1 = pd.read_excel("C:\\Users\\prart\\Downloads\\aarki.xls")
print(df1.head(5))

              LeadCreated  FirstName                      Email  \
0 2009-07-01 01:24:29.563    Dorinda   kanani@sandwichisles.net
1 2009-04-13 15:27:35.990   Presetta      clerk2@ustconline.net
2 2009-04-21 07:22:59.000       Gina     wagoner_gina@yahoo.com
3 2009-08-03 19:39:02.000       Kari          usa4ley@yahoo.com
4 2009-04-13 10:18:37.490  Stephanie  sr1lambert@embarqmail.com

                           VendorLeadID  \
0  FDF81FDA-A649-437B-B99C-FDDE74F7971B
1  4190ACB7-5026-416C-B987-ED8AD427D5E6
2                hFg80jf_R0CRN55hdhWILw
3                jB01QgYZxkWArI9jWxuufw
4  D5B32074-458E-40EC-B185-1FEF20AC626D

                                    CallStatus  \
0                                          NaN
1                                          NaN
2  Unable to contact - Bad Contact Information
3                  Contacted - Doesn't Qualify
4                                          NaN

                                    WidgetName PublisherZoneName  \
0  w-302252-DebtReduction1-1DC-CreditSolutions    TopLeft-302252
1            w-300250-DebtReduction1-1DC-Head2    TopLeft-302252
2            w-300250-DebtReduction1-1DC-Head2    TopLeft-302252
3            w-302252-DebtReduction1-1DC-white    TopLeft-302252
4        w-300250-DebtReduction1-1DC-BlueMeter    TopLeft-302252

  PublisherCampaignName  AddressScore  PhoneScore  ...      Partner  \
0      DebtReductionInc           NaN         5.0  ...       google
1      DebtReductionInc           NaN         NaN  ...  AdKnowledge
2      DebtReductionInc           NaN         NaN  ...  AdKnowledge
3      DebtReductionInc           5.0         3.0  ...       Google
4      DebtReductionInc           NaN         NaN  ...       Google

            ReferralDomain   MarketingCampaign              AdGroup  \
0           www.google.com   Debt Holding Tank  Holding Tank - Debt
1                      NaN  Financial Services          Consolidate
2  us.mc582.mail.yahoo.com  Financial Services          Consolidate
3       norwich.kijiji.com    DebtReductionInc       Lower Payments
4                      NaN    DebtReductionInc       Debt Reduction

            Keyword       SearchQuery  \
0  Debt specialists  debt specialists
1               NaN               NaN
2               NaN               NaN
3               NaN               NaN
4               NaN               NaN

                                         ReferralURL  \
0                       http://www.google.com/search
1                                                NaN
2      http://us.mc582.mail.yahoo.com/mc/showMessage
3  http://norwich.kijiji.com/c-Cars-vehicles-Cars...
4                                                NaN

                              ReferralURL Parameters  \
0  sourceid=navclient&aq=1&oq=debt sp&ie=UTF-8&rl...
1                                                NaN
2  &fid=Inbox&sort=date&order=down&startMid=0&.ra...
3                                                NaN
4                                                NaN

                                 LandingPageURL  \
0   http://www.debtreductioninc.com/index8.html
1   http://www.debtreductioninc.com/index8.html
2   http://www.debtreductioninc.com/index8.html
3  http://www.debtreductioninc.com/index12.html
4   http://www.debtreductioninc.com/index8.html

                         Landing Page URL Parameters
0  utm_source=google&utm_medium=CPC&utm_content=H...
1  utm_source=AdKnowledge&utm_medium=CPC&utm_cont...
2  utm_source=AdKnowledge&utm_medium=CPC&utm_cont...
3  utm_source=Google&utm_medium=cpc&utm_campaign=...
4  utm_source=Google&utm_medium=cpc&utm_campaign=...

[5 rows x 24 columns]

In [4]:
df1.info()
df1.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3021 entries, 0 to 3020
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LeadCreated                  3021 non-null   datetime64[ns]
 1   FirstName                    3021 non-null   object
 2   Email                        3021 non-null   object
 3   VendorLeadID                 3013 non-null   object
 4   CallStatus                   881 non-null    object
 5   WidgetName                   3021 non-null   object
 6   PublisherZoneName            3021 non-null   object
 7   PublisherCampaignName        3021 non-null   object
 8   AddressScore                 1171 non-null   float64
 9   PhoneScore                   1393 non-null   float64
 10  AdvertiserCampaignName       3021 non-null   object
 11  State                        3021 non-null   object
 12  DebtLevel                    3021 non-null   object
 13  IP Address                   0 non-null      float64
 14  Partner                      3021 non-null   object
 15  ReferralDomain               2506 non-null   object
 16  MarketingCampaign            2749 non-null   object
 17  AdGroup                      2749 non-null   object
 18  Keyword                      979 non-null    object
 19  SearchQuery                  1265 non-null   object
 20  ReferralURL                  2506 non-null   object
 21  ReferralURL Parameters       2283 non-null   object
 22  LandingPageURL               3021 non-null   object
 23  Landing Page URL Parameters  3021 non-null   object
dtypes: datetime64[ns](1), float64(3), object(20)
memory usage: 566.6+ KB

LeadCreated                       0
FirstName                         0
Email                             0
VendorLeadID                      8
CallStatus                     2140
WidgetName                        0
PublisherZoneName                 0
PublisherCampaignName             0
AddressScore                   1850
PhoneScore                     1628
AdvertiserCampaignName            0
State                             0
DebtLevel                         0
IP Address                     3021
Partner                           0
ReferralDomain                  515
MarketingCampaign               272
AdGroup                         272
Keyword                        2042
SearchQuery                    1756
ReferralURL                     515
ReferralURL Parameters          738
LandingPageURL                    0
Landing Page URL Parameters       0
dtype: int64

In [5]:
df1 = df1.drop(["WidgetName", "IP Address", "ReferralURL Parameters", "Landing Page URL Parameters"], axis = 1)

int_nulls = 0

df = df1.fillna( {"ReferralURL" : "Direct Source", 
            "ReferralURL Parameters" : "Does not apply",
            "SearchQuery" : "Direct Source",
            "Keyword" : "Direct Source",
            "CallStatus" : "Not yet contacted",
            "AddressScore" : int_nulls,
            "PhoneScore" : int_nulls
           })

df = df.astype({
    "FirstName" : "category",
    "Email" : "category",
    "VendorLeadID" : "category",
    "CallStatus" : "category",
    "PublisherZoneName" : "category",
    "PublisherCampaignName" : "category",
    "AdvertiserCampaignName" : "category",
    "State" : "category",
    "DebtLevel" : "category",
    "Partner" : "category",
    "ReferralDomain" : "category",
    "MarketingCampaign" : "category",
    "AdGroup" : "category",
    "Keyword" : "category",
    "SearchQuery" : "category",
    "ReferralURL" : "category",
    "LandingPageURL" : "category",
    "AddressScore" : "int",
    "PhoneScore" : "int"
})

In [6]:
df["Lead Created Time"] = df["LeadCreated"].dt.time
df["Lead Created Date"] =  df["LeadCreated"].dt.strftime("%m-%d-%Y")
df["Lead Month"] = df["LeadCreated"].dt.month
df["Lead Year"] = df["LeadCreated"].dt.year
df["Day"] = df["LeadCreated"].dt.day
df["Weekday"] = df["LeadCreated"].dt.weekday
df["Lead Week"] = df["LeadCreated"].dt.isocalendar().week
df["Month Name"] = df["LeadCreated"].dt.month_name()
df["Lead Quarter"] = df["LeadCreated"].dt.quarter

def dayname(a):
    if a["Weekday"] == 1:
        return "Sunday"
    elif a["Weekday"] == 2:
        return "Monday"
    elif a["Weekday"] == 3:
        return "Tuesday"
    elif a["Weekday"] == 4:
        return "Wednesday"
    elif a["Weekday"] == 5:
        return "Thrusday"
    elif a["Weekday"] == 6:
        return "Friday"
    else:
        return "Saturday"

df["Day Name"] = df.apply(dayname, axis = 1)

In [7]:
df.drop_duplicates(subset = {"LeadCreated", "VendorLeadID"})

,LeadCreated,FirstName,Email,VendorLeadID,CallStatus,PublisherZoneName,PublisherCampaignName,AddressScore,PhoneScore,AdvertiserCampaignName,...,Lead Created Time,Lead Created Date,Lead Month,Lead Year,Day,Weekday,Lead Week,Month Name,Lead Quarter,Day Name
0,2009-07-01 01:24:29.563,Dorinda,kanani@sandwichisles.net,FDF81FDA-A649-437B-B99C-FDDE74F7971B,Not yet contacted,TopLeft-302252,DebtReductionInc,0,5,creditsolutions-branded-shortform,...,01:24:29.563000,07-01-2009,7,2009,1,2,27,July,3,Monday
1,2009-04-13 15:27:35.990,Presetta,clerk2@ustconline.net,4190ACB7-5026-416C-B987-ED8AD427D5E6,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,15:27:35.990000,04-13-2009,4,2009,13,0,16,April,2,Saturday
2,2009-04-21 07:22:59.000,Gina,wagoner_gina@yahoo.com,hFg80jf_R0CRN55hdhWILw,Unable to contact - Bad Contact Information,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,07:22:59,04-21-2009,4,2009,21,1,17,April,2,Sunday
3,2009-08-03 19:39:02.000,Kari,usa4ley@yahoo.com,jB01QgYZxkWArI9jWxuufw,Contacted - Doesn't Qualify,TopLeft-302252,DebtReductionInc,5,3,Debt Settlement1 Master,...,19:39:02,08-03-2009,8,2009,3,0,32,August,3,Saturday
4,2009-04-13 10:18:37.490,Stephanie,sr1lambert@embarqmail.com,D5B32074-458E-40EC-B185-1FEF20AC626D,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,10:18:37.490000,04-13-2009,4,2009,13,0,16,April,2,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,2009-06-30 18:14:33.043,amy,ahokett@sjc.edu,F42BBDFB-D44B-4890-A1B6-D1F0A3838214,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,18:14:33.043000,06-30-2009,6,2009,30,1,27,June,2,Sunday
3017,2009-04-25 16:56:53.670,brandy,brandy75137@yahoo.com,EA3703A3-61C9-40CE-92F7-61F0E02B1365,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,16:56:53.670000,04-25-2009,4,2009,25,5,17,April,2,Thrusday
3018,2009-04-12 18:38:43.067,jennifer,jennifer_woods48375@yahoo.com,64EB2632-E29E-4EB4-B361-45F1F0C735B5,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,creditsolutions-branded-shortform,...,18:38:43.067000,04-12-2009,4,2009,12,6,15,April,2,Friday
3019,2009-09-23 21:41:08.193,debra,debraroque@att.net,9126C7DB-F5BB-4CE1-BDCF-5E6F1841ADAD,Not yet contacted,TopLeft-302252,DebtReductionInc,5,5,Debt Settlement1 Master,...,21:41:08.193000,09-23-2009,9,2009,23,2,39,September,3,Monday
3020,2009-04-27 10:31:42.573,Ricard,silva3131@sbcglobal.net,AF369BF3-15C7-4B47-8E2D-FE218A5DBCC3,Not yet contacted,TopLeft-302252,DebtReductionInc,0,0,Debt Settlement1 Master,...,10:31:42.573000,04-27-2009,4,2009,27,0,18,April,2,Saturday

In [8]:
df.groupby(["Lead Month", "Month Name", "Lead Week"]).agg(leads = ("VendorLeadID", "nunique")).reset_index().sort_values(by = ["Lead Week", "Lead Month"], ascending = [True, True])

    Lead Month Month Name  Lead Week  leads
0            4      April         14     37
1            4      April         15    119
2            4      April         16    125
3            4      April         17    154
4            4      April         18     82
5            5        May         18     47
6            5        May         19    112
7            5        May         20    165
8            5        May         21    122
9            5        May         22    132
10           6       June         23    137
11           6       June         24    164
12           6       June         25    151
13           6       June         26    107
14           6       June         27     47
15           7       July         27     53
16           7       July         28    104
17           7       July         29    115
18           7       July         30    144
19           7       July         31    115
20           8     August         31     21
21           8     August         32     95
22           8     August         33    116
23           8     August         34    103
24           8     August         35     88
25           8     August         36     13
26           9  September         36     61
27           9  September         37     65
28           9  September         38     95
29           9  September         39     82
30           9  September         40     41

In [9]:
df.replace({ "CallStatus" : {
                    "Not yet contacted": "Not Contacted",
                    "Unable to contact - Bad Contact Information": " Bad Contact Information"}
           })

df["FirstName"].str.capitalize()
df["Partner"].str.lower()
df["SearchQuery"].str.lower()

C:\Users\prart\AppData\Local\Temp\ipykernel_22328\664094016.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.replace({ "CallStatus" : {

0                                       debt specialists
1                                          direct source
2                                          direct source
3                                          direct source
4                                          direct source
                              ...
3016                                       direct source
3017                                       direct source
3018    debt consolidation or settlement which is better
3019                                       direct source
3020                                       direct source
Name: SearchQuery, Length: 3021, dtype: object